@model Sefkat.Entity.Iletisimcs
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (ViewBag.Durum != null)
{
    <span style="background-color:red;color:white;padding:10px">@ViewBag.Durum</span>

}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-2">Adı</div>
        <div class="col-md-10">@Html.TextBoxFor(x=>x.Adi, new{@class="form-control"})</div>
    </div>
    <div class="row">
        <div class="col-md-2">Soyadı</div>
        <div class="col-md-10">@Html.TextBoxFor(x=>x.Soyadi, new{@class="form-control"})</div>
    </div>
    <div class="row">
        <div class="col-md-2">Mail</div>
        <div class="col-md-10">@Html.TextBoxFor(x=>x.Mail, new{@class="form-control"})</div>
    </div>
    <div class="row">
        <div class="col-md-2">Mesaj</div>
        <div class="col-md-10">@Html.TextBoxFor(x=>x.Mesaj, new{@class="form-control"})</div>
    </div>

    <div class="row">
        <div class="col-md-12"><input type="submit" value="Ekle" class="btn btn-success" /></div>
    </div>
}
