
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- SLİDER BAŞLANGIÇ -->,
<div class="row">
    <section class="home-slider owl-carousel owl-loaded owl-drag">
    @foreach (var item in ViewBag.SliderListele)
    {
       
           <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-2811px, 0px, 0px); transition: all 0s ease 0s; width: 5624px;"><></div>
                <img src="@item.Resim">

            <div class="container">
                
                    <div class="row slider-text align-items-center justify-content-center text-center">
                        <div class="col-md-7 col-sm-12 element-animate fadeInUp element-animated">
                            <h1 class="mb-4">@item.Icerik</h1>
                            <p class="mb-0">@item.Baslik</p>
                        </div>
                    </div>    
            </div>
           </div>
    }
    </section>
</div>
<!-- SLİDER BİTİŞ -->



<!-- Hakkımızda Başlangıç -->
<section class="section bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 pr-lg-5 mb-5 mb-md-0 element-animate fadeInUp element-animated">
                <div class="pr-lg-5">
                    <h2 class="text-uppercase heading border-bottom mb-4 text-left">Yarım Asırlık Tecrübe İle<br></h2>
                    <p>@ViewBag.Hakkimizda</p>
                </div>
            </div>
            <div class="col-md-6 element-animate fadeInUp element-animated">
                <img src="~/UI/img/work_thumb_3.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<br />
<!-- Hakkımızda BİTİŞ -->






<!-- END header -->




<section class="section">
    <div class="container">

        <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
            <div class="col-md-8 text-center">
                <h2 class="text-uppercase heading border-bottom mb-4">Servis</h2>
                <p class="mb-3 lead">Yardımamı İhtiyacınız Var.</p>
            </div>
        </div>

        <div class="row mb-5">

            <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate fadeInUp element-animated">
                <div class="media d-block media-feature text-center">
                    <span class="flaticon-blueprint icon"></span>
                    <div class="media-body">
                        <h3 class="mt-0 text-black">İNŞAAT ÖNCESİ</h3>
                        <p>İnşaat Önecsi İşler İçin Destek Hattından Ulaşabilirsiniz.</p>
                        <p><a href="@Url.Action("Iletisim","Home")" class="btn btn-outline-primary btn-sm">İletişim</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate fadeInUp element-animated">
                <div class="media d-block media-feature text-center">
                    <span class="flaticon-building-1 icon"></span>
                    <div class="media-body">
                        <h3 class="mt-0 text-black">EV YENİLEME</h3>
                        <p>Evinizdeki Tüm Dekorasyon ve Tadilat İşleri İçin Bize Ulaşabilirsiniz </p>
                        <p><a href="@Url.Action("Iletisim","Home")" class="btn btn-outline-primary btn-sm">İletişim</a></p>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate fadeInUp element-animated">
                <div class="media d-block media-feature text-center">
                    <span class="flaticon-crane icon"></span>
                    <div class="media-body">
                        <h3 class="mt-0 text-black">GENEL MÜTAHİTLİK</h3>
                        <p>Ev,Yol,Bağ,Bahçe... her türlü Alım Satım İşelri Yapılır.</p>
                        <p><a href="@Url.Action("Iletisim","Home")" class="btn btn-outline-primary btn-sm">İletişim</a></p>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</section>
<!-- ***** slider2 Area Start ***** -->
<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
            <div class="col-md-8 text-center mb-5">
                <h2 class="text-uppercase heading border-bottom mb-4">Geleceği Bugüne İnşa Etmek</h2>
                <p class="mb-0 lead">Şefkat İnşaat A.Ş; bu doğrultuda yürüttüğü projelerin tamamında yenilikçi ve modern teknolojileri kullanarak yeni nesil konut ve yapıları inşa etmeye devam edecektir.</p>
                </div>
            </div>
    </div>
</section>
<!-- ***** slider2 Area Finish ***** -->

<!-- ***** Blog Area Start ***** -->

<section class="section bg-light">
<div class="row">

    @foreach (var item in ViewBag.Bloglar)
    {
       <div class="col-lg-4 col-md-6 element-animate fadeInUp element-animated">
            <div class="media d-block media-custom text-left">
                <a href="#"><img src="@item.Resim" alt=""></a> <alt ="Image Placeholder" class="img-fluid">
                    <div class="media-body">
                        <h3 class="mt-0 text-black">
                            <a href="@item.Tarih"><i class=""></i>Ağustos 26 2022 </a>
                            <h6 class="mt-0 text-black"> @item.Baslik<a href=""></a></h6>

                            <p class="clearfix"> @item.Icerik </p>
                            <a href="@Url.Action("BlogDetay","Home" , new {id = item.ID})" class="float-left">Daha fazlası</a>
                            <a href="" class="float-right meta-chat"><span class="ion-chatbubble">okunma sayısı: @item.OkunmaSayisi</span> </a>
                    </div>
            </div>
        </div>
    }
</div>
</section>






<section class="section border-t">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate fadeInUp element-animated">
            <div class="col-md-8 text-center mb-5">
                <h2 class="text-uppercase heading border-bottom mb-4">YÖNETİCİLERİMİZ</h2>
                <p class="mb-0 lead">
                    Geleceğe emin adımlar ile yürüyen Şefkat İnşaat projelerini keşfedin.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 element-animate fadeInUp element-animated">
                <div class="media d-block media-testimonial text-center">
                    <img src="~/UI/img/eminlogo.jpeg" alt="Image placeholder" class="img-fluid mb-3">
                    <p>Mehmet Emin Şefkatlıoğlu, <a href="https://twitter.com/EminSefkatli"></a></p>
                    <div class="media-body">
                        <blockquote>
                            <p>“1972 yılından itibaren faaliyet gösterdiğimiz sektörde önce taahhüt işleri sonrasında ise İstanbul merkezli konut ve ticari binalar yapmaya başladık. İlk dönemlerde ortaklık şeklinde devam eden inşaatlarımızı 1983 yılından itibaren ŞEFKAT İNŞAAT A.Ş’yi kurarak devam ettirdik.”</p>
                        </blockquote>

                    </div>
                </div>
            </div>

            <div class="col-md-6 element-animate fadeInUp element-animated">
                <div class="media d-block media-testimonial text-center">
                    <img src="~/UI/img/kanbazlogo.jpg" alt="Image placeholder" class="img-fluid mb-3">
                    <p>Mehmet Kanbaz, <a href="https://twitter.com/EminSefkatli"></a></p>
                    <div class="media-body">
                        <blockquote>
                            <p>“İlk dönemlerde ortaklık şeklinde devam eden inşaatlarımızı 1983 yılından itibaren ŞEFKAT İNŞAAT A.Ş’yi kurarak devam ettirdik.”.”</p>
                        </blockquote>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="container cta-overlap">
    <div class="text d-flex">
        <h2 class="h3">Projeler İçin veya Teklif Almak İçin Bize Ulaşın</h2>
        <div class="ml-auto btn-wrap">
            <a href="https://wa.me/905426631002?text=Merhaba,Şefkat inşaattan ulaşıyorum.Bana Yardımcı Olabilirmisiniz" class="btn-cta btn btn-outline-white">Whatsap İletişim</a>
        </div>
    </div>
</section>